@media (max-width: 700px) {
  :deep() {
    .title {
      font-size: 40px;
    }
    .calendar {
      width: 100px;
    }

    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 100px;
    }
  }
}
