@media (max-width: 1000px) {
  :deep() {
    .title {
      font-size: 40px;
    }
    .calendar {
      width: 100px;
    }

    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
    .v-toolbar__content {
        height: 100% !important;
    }
  }
}
